
Chapter 2 - Statistical Learning/.ipynb_checkpoints/Ch 2 Ex 9-checkpoint.ipynb
Chapter 2 - Statistical Learning/.ipynb_checkpoints/Ch 2 Ex 10-checkpoint.ipynb
Chapter 3 - Linear Regression/.ipynb_checkpoints/Ch 3 Conceptual-checkpoint.md
Chapter 3 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 10-checkpoint.ipynb
Chapter 3 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 11-checkpoint.ipynb
Chapter 3 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 8-checkpoint.ipynb
Chapter 3 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 9-checkpoint.ipynb
Datasets/.ipynb_checkpoints/Auto-checkpoint.csv
Datasets/.ipynb_checkpoints/Boston-checkpoint.csv
Datasets/.ipynb_checkpoints/Dataset variable descriptions-checkpoint.md
.ipynb_checkpoints/README-checkpoint.md
Chapter 3 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 12-checkpoint.ipynb
Chapter 3 - Linear Regression/.ipynb_checkpoints/3.9-checkpoint.ipynb
Chapter 3 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 13-checkpoint.ipynb
Chapter 3 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 08-checkpoint.ipynb
Chapter 3 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 09-checkpoint.ipynb
Chapter 3 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 14-checkpoint.ipynb
Chapter 02 - Statistical Learning/.ipynb_checkpoints/Ch 2 Ex 10-checkpoint.ipynb
Chapter 02 - Statistical Learning/.ipynb_checkpoints/Ch 2 Ex 9-checkpoint.ipynb
Chapter 03 - Linear Regression/.ipynb_checkpoints/Ch 3 Conceptual-checkpoint.md
Chapter 03 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 08-checkpoint.ipynb
Chapter 03 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 09-checkpoint.ipynb
Chapter 03 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 10-checkpoint.ipynb
Chapter 03 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 11-checkpoint.ipynb
Chapter 03 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 12-checkpoint.ipynb
Chapter 03 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 13-checkpoint.ipynb
Chapter 03 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 14-checkpoint.ipynb
Chapter 02 - Statistical Learning/.ipynb_checkpoints/Ch 2 Ex 09-checkpoint.ipynb
Chapter 03 - Linear Regression/.ipynb_checkpoints/Ch 3 Ex 15-checkpoint.ipynb
Chapter 04 - Classification/.ipynb_checkpoints/Ch 4 Lab - Logistic Regression, LDA, QDA, and KNN -checkpoint.ipynb
Chapter 04 - Classification/.ipynb_checkpoints/Ch 4 Conceptual-checkpoint.md
Chapter 04 - Classification/Ch 4 Lab - Logistic Regression, LDA, QDA, and KNN .ipynb
Chapter 04 - Classification/.ipynb_checkpoints/Ch 4 Ex 13-checkpoint.ipynb
Chapter 04 - Classification/.ipynb_checkpoints/Ch 4 Ex 14-checkpoint.ipynb
Chapter 04 - Classification/.ipynb_checkpoints/Ch 4 Ex 15-checkpoint.ipynb
Chapter 04 - Classification/.ipynb_checkpoints/Ch 4 Ex 16-checkpoint.ipynb
Chapter 05 - Resampling Methods/.ipynb_checkpoints/Ch 5 Lab - Cross Validation and the Bootstrap-checkpoint.ipynb
